<%- include("header")%>

    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Basic Tables </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Category Tables</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let cnt=1 %>
                                    <% allcategorydata.map((val)=>{
                                        const {id,category}=val;

                                        %>
                                        <tr>
                                            <td>
                                                <%= cnt++ %>
                                            </td>
                                            <td>
                                                <%= category %>
                                            </td>
                                        </tr>
                                        <%})%>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer')%>